export AWS_ACCESS_KEY_ID=ASKJRYOUAWSKEY
export AWS_SECRET_ACCESS_KEY=YOURSECRETKEYFORCREATINGSERVERLESSPROJECT
export WEBHOOK_SECRET=SAME_PASSWORD_IN_YOUR_GITHUB_WEBHOOK_CONFIG
export BUCKETNAME=BUCKETNAME_OF_YOUR_PROJECT
export REPONAME=REPOSITORY_NAME
export OWNER=OWNER_OF_REPOSITORY
export SITEHOST="YOURWEBSITE.COM"
export region=us-east-1
